<html ng-app="demo">
    <head>
        <title>Angular JS Form</title>
            <script src="angular.js"></script>
              <script src="app.js"></script>
            <style>
                .ng-invalid{
                    border:20px solid red;
                }
                .ng-valid{
                    border:20px solid green;
                }
            </style>
    </head>
    <body>


<div ng-controller="firstCtrl as todo">
    <form name="form1" novalidate>
        <input type="text" name="firstName" ng-model="todo.name" required>
        <span ng-if="form1.firstName.$invalid && form1.$submitted">Name is required</span>
        <br>
        <input type="text" name="LastName" ng-model="todo.lname" >
        <br>
        <input type="email" name="email" ng-model="todo.email"  required>
        <br>
        <span ng-if="form1.email.$error.required && form1.$submitted">Email is required</span>
        <br>
        <span ng-if="form1.email.$error.email && form1.$submitted">email is incorrect</span>
        <input type="submit" ng-click="form1.$valid && todo.submit(form1)">
    </form>
</div>




    </body>
</html>